<launch>

  <node name="outlierRemovalPass1" pkg="outlier_removal_filter" type="outlierRemoval" output="screen">
    <param name="subscriber" value="lidar_utility_points"/>
    <param name="publisher" value="outliers_removed_pass1"/>
  </node>

  <node name="outlierRemovalPass2" pkg="outlier_removal_filter" type="outlierRemoval" output="screen">
    <param name="subscriber" value="outliers_removed_pass1"/>
    <param name="publisher" value="outliers_removed_pass2"/>
  </node>

</launch>
