<launch>

  <node name="radialOutlierRemoval" pkg="radial_outlier_removal_filter" type="radialOutlierRemoval" output="screen">
    <param name="subscriber" value="cloud_pcd"/>
    <param name="publisher" value="radial_outliers_removed"/>
  </node>


<!--Launch rviz with prepaired configuration-->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find radial_outlier_removal_filter)/rviz/filterComparison.rviz" />

</launch>
