<!--Launch file for nodelets-->
<!--see readme section on launch files for details on how to use file-->
<!--maintainer email="nxgamarra@gmail.com">Nikolas Gamarra</maintainer-->
<launch>

rosparam load pandar.yaml /settings

<!--Launch a node manager-->
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node name="Lidar_Utility" pkg="master_launcher" type="lidarUtility" output="screen">
    <!--commented out so program uses defaults or searches for available topic-->
    <!--param name="subscriber" value="cloud_pcd"/-->
    <!--param name="publisher" value="lidar_utility_points"/-->
  </node>

<!--Pass through filter-->
  <node pkg="nodelet" type="nodelet" 
        name="passThroughFilter1" 
        args="load lu_nodelet/passThroughFilter standalone_nodelet"
        output="screen">
    <param name="subscriber" value="cloud_pcd"/>
    <param name="publisher" value="test"/>
    <param name="mode" value="road"/>
    <param name="msgSubscriber" value="none"/>
  </node>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find Lidar_Utility)/rviz/pandar_cfg.rviz" />

</launch>
