<!--transform matrix-->
<launch>
  <arg name="subscriber"/>
  <arg name="publisher"/>
  <node name="transform_matrix" pkg="matrix_transform" type="matrixTransform" output="screen">
    <param name="subscriber" value="$(arg subscriber)"/>
    <param name="publisher" value="$(arg publisher)"/>
  </node>
</launch>

